@font-face {
  font-family: "Butler_Black";
  src: url("/fonts/Butler/Butler_Black.otf") format("opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Butler_Regular";
  src: url("/fonts/Butler/Butler_Regular.otf") format("opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Butler_Medium";
  src: url("/fonts/Butler/Butler_Medium.otf") format("opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Butler_Bold";
  src: url("/fonts/Butler/Butler_Bold.otf") format("opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Butler_ExtraBold";
  src: url("/fonts/Butler/Butler_ExtraBold.otf") format("opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Butler_Light";
  src: url("/fonts/Butler/Butler_Light.otf") format("opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Butler_Ultra_Light";
  src: url("/fonts/Butler/Butler_Ultra_Light.otf") format("opentype");
  font-style: normal;
  font-stretch: normal; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

html {
  font-size: 100%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Butler_Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.53;
  color: #2d2291; }

.add-to-cart-button {
  font-family: "Butler_Regular", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.3px;
  color: none;
  text-align: none;
  border-radius: .4rem;
  box-shadow: 0 1rem 2rem 0 rgba(49, 55, 77, 0.07); }

.dataBox {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Butler_Regular", sans-serif;
  min-height: 90vh; }
  .dataBox .register {
    font-family: "Butler_Regular", sans-serif;
    font-weight: 800;
    font-size: 4.4rem;
    line-height: 4.4rem;
    letter-spacing: 1;
    color: #313553;
    text-align: left; }
  .dataBox .button {
    box-shadow: rgba(49, 55, 77, 0.07);
    padding: 9px;
    border: 1px solid #3333331f;
    border-radius: 6px;
    background-color: #0e4e6b1f; }
  .dataBox .head {
    border-bottom: 1px solid #4f3153; }
  .dataBox .redux-data {
    border: 1px solid #835f1d42;
    border-radius: 6px;
    padding: 15px; }
