.dataBox {
  background-color: rgb(248, 248, 248);
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  font-family     : $default-font;
  min-height      : 90vh;


  .register {
    @include font-style($default-font, 800, 4.4rem, 4.4rem, 1, #313553, left);
  }

  .button {
    box-shadow      : $button-shadow;
    padding         : 9px;
    border          : 1px solid #3333331f;
    border-radius   : 6px;
    background-color: #0e4e6b1f;
  }

  .head {
    border-bottom: 1px solid #4f3153;
  }

  .redux-data {
    border       : 1px solid #835f1d42;
    border-radius: 6px;
    padding      : 15px;
  }
}