@font-face {
  font-family : "Butler_Black";
  src         : url("/fonts/Butler/Butler_Black.otf") format("opentype"); //'fonts' folder located in public/static folder in the root directory
  font-style  : normal;
  font-stretch: normal;
}

@font-face {
  font-family : "Butler_Regular";
  src         : url("/fonts/Butler/Butler_Regular.otf") format("opentype");
  font-style  : normal;
  font-stretch: normal;
}


@font-face {
  font-family : "Butler_Medium";
  src         : url("/fonts/Butler/Butler_Medium.otf") format("opentype");
  font-style  : normal;
  font-stretch: normal;
}

@font-face {
  font-family : "Butler_Bold";
  src         : url("/fonts/Butler/Butler_Bold.otf") format("opentype");
  font-style  : normal;
  font-stretch: normal;
}

@font-face {
  font-family : "Butler_ExtraBold";
  src         : url("/fonts/Butler/Butler_ExtraBold.otf") format("opentype");
  font-style  : normal;
  font-stretch: normal;
}

@font-face {
  font-family : "Butler_Light";
  src         : url("/fonts/Butler/Butler_Light.otf") format("opentype");
  font-style  : normal;
  font-stretch: normal;
}

@font-face {
  font-family : "Butler_Ultra_Light";
  src         : url("/fonts/Butler/Butler_Ultra_Light.otf") format("opentype");
  font-style  : normal;
  font-stretch: normal;
}